<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- bu用接口时可以随意写  -->
<mapper namespace="Login">


    <select id="login" parameterType="string" resultType="Login">
            select * from yyf_login where username = #{username}
    </select>
    <select id="queryByPage" parameterType="map" resultType="Login">
	select * from ( select a.*, rownum rn from (select * from yyf_login) a where rownum &lt;= #{pageSize}) where rn  >= #{start}
	</select>
</mapper>